<div id="playerField{{indexGambler}}" class="playingField">
            
    <div id="playerSummary{{indexGambler}}">
        <div id="playerId{{indexGambler}}" class="playerSummary">Player {{increment indexGambler}}</div>
        <div id="playerScore{{indexGambler}}" class="playerSummary"></div>
        <div id="playerBet{{indexGambler}}" class="playerSummary"></div>
        <div id="playerCredits{{indexGambler}}" class="playerSummary"></div>
        <div id="playerResult{{indexGambler}}" class="playerSummary"></div>
    </div>
    <div id="playerCardsArea{{indexGambler}}" class="cardArea">
    </div>
    <button type="button" id="btnPlayerHit{{indexGambler}}">Hit</button>
    <button type="button" id="btnPlayerStand{{indexGambler}}">Stand</button>
    <button type="button" id="btnPlayerIncreaseBet{{indexGambler}}">Increase Bet</button>
    <button type="button" id="btnPlayerDecreaseBet{{indexGambler}}">Decrease Bet</button>
            
</div>